.vscode/*
*/__pycache__/*
*/.mypy_cache/*
internal/*/*.go
internal/*/*.py
*/.vscode/*
**/config.ini
**/go.sum
**/*_pb2.py
**/*_pb2_grpc.py
cmd/asname/asname
cmd/tweeter/tweeter
cmd/tracerpki/tracerpki
cmd/bgpsql/bgpsql
internal/xapi/test/test
!internal/xapi/*.go
!internal/bskyapi/*.go
