.vscode/*
*/__pycache__/*
*/.mypy_cache/*
*/config.ini
*/*_pb2.py
*/*_pb2_grpc.py
proto/*/*.go
proto/*/*.py
glass/glass
bgpsql/bgpsql
asname/asname
bgpstuff_tester/tester
collector/collector
bgpsql/testdata/annual.pb
glass/airports/airports.dat
