go 1.24rc1

toolchain go1.24rc1

use ./common

use ./asname

use ./proto/glass

use ./proto/bgpsql

use ./proto/grapher

use ./proto/tracerpki

use ./bgpsql

use ./tweeter

use ./bsky

use ./tracerpki
