[Unit]
Description=Looking Glass RPC Server
Wants=network.target

[Service]
Type=simple
User=bgp
WorkingDirectory=/home/bgp/glass
ExecStart=/home/bgp/glass/glass
Restart=always
RestartSec=20s

[Install]
WantedBy=multi-user.target