[Unit]
Description=BGP SQL RPC Server
Wants=network.target
After=mysql.service

[Service]
Type=simple
User=bgp
WorkingDirectory=/home/bgp/bgpsql
ExecStart=/home/bgp/bgpsql/bgpsql
Restart=always
RestartSec=20s

[Install]
WantedBy=multi-user.target
