[Unit]
Description=BGP Grapher Server
Wants=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/mellowd/bgp/grapher
ExecStart=/home/mellowd/bgp/grapher/grapher.py
Restart=always
RestartSec=20s

[Install]
WantedBy=multi-user.target